---
import Base from '@layouts/Base.astro';
import Page from '@layouts/Page.astro';
---

<Base meta_title="About">
  <Page title="About Mostafa">
    <p>
      Hello and welcome to my digital space! I am Mostafa, a dedicated Frontend Engineer with a profound passion for web
      development. My journey began with a simple fascination for creating and optimizing web interfaces, which soon
      transformed into a full-fledged career. Today, I find immense joy in crafting intuitive and user-friendly
      applications that resonate with users worldwide.
    </p>

    <p>
      My expertise primarily revolves around JavaScript/Typescript, with a special inclination towards the Reactjs
      library. Over the years, I've honed my skills in this domain, leading to successful collaborations with renowned
      European firms and a plethora of freelance projects. My hands-on experience with Nextjs, React Query, and MUI has
      further enabled me to deliver projects that are not only efficient but also aesthetically pleasing.
    </p>

    <h4>My Philosophy</h4>
    <p>
      I firmly believe that at the core of every successful web application lies a blend of robust functionality and
      seamless user experience. As the web continues to evolve, staying updated with the latest trends and technologies
      becomes paramount. I invest considerable time in continuous learning, ensuring that every project I undertake
      benefits from the latest best practices and innovations in the industry.
    </p>

    <h4>Beyond Digital Canvases</h4>
    <p>
      In the vast universe outside the confines of code editors, I'm deeply entrenched in the world of technology. My
      curiosity extends far beyond just coding, driving me to constantly explore the newest technological innovations. I
      hold a deep reverence for the open-source community. It's a space where I actively contribute, channeling my
      expertise to aid projects that resonate with my passions.
    </p>

    <h4>Let's Connect!</h4>
    <p>
      I am always open to new opportunities, collaborations, and challenges. Whether you have a project in mind, wish to
      discuss the latest in web development, or simply want to say hello, feel free to reach out. Let's embark on a
      journey of innovation, creativity, and endless possibilities together!
    </p>
  </Page>
</Base>
